$colorLight:#e2e2e2;
$neoSdwLgt1:#ffffffdd;
$neoSdwLgt2:#66666677;
$colorDark:#2d2d2d;
$neoSdwDrk1:#aaaaaa2f;
$neoSdwDrk2:#00000099;

html{
    font-size: 62.5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorLight;
    padding: 0;
    margin: 0;
    
}
.main{
    width: 80%;
    min-height: 100vh;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.cep{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 440px;
    min-width: 280px;
    box-shadow: 
    -2px -2px 4px $neoSdwLgt1,
    2px 2px 4px $neoSdwLgt2;
    padding: 18px;
    border-radius: 8px;
    font-size: 1.3rem;
    
    input{
        font-size: 1.5rem;
        background-color: $colorLight;
        padding: 8px;
        border: 3px solid #ffffff00;
        border-radius: 5px;
        margin: 4% 0px;
        box-shadow: 
        -2px -2px 4px $neoSdwLgt1,
        2px 2px 4px $neoSdwLgt2,
        inset -2px -2px 4px $neoSdwLgt1,
        inset 2px 2px 4px $neoSdwLgt2;
        
    }
    &__result{
        padding: 12px;
        height: 35vh;
        width: 100%;
        box-shadow: inset -2px -2px 4px $neoSdwLgt1,
        inset 2px 2px 4px $neoSdwLgt2;
        p{
            font-size: 1.3rem;
        }
    }
}

.perfil {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 60px);
    gap: 10px;
    &__disable{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    &__window{
        position: absolute;
        border-radius: 50%;
        margin: auto;
        height: 0%;
        background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(244,205,255,1) 0%, rgba(179,255,209,1) 100%);
        z-index: 1;
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3vh 5%;
        gap: 15px;
        width: 300px;
        &:ntt-child(1){
            pointer-events: none;
        }
        img{
            margin: auto;
        }
    }
    
    &__destack{
        overflow: hidden;
        position: relative;
        justify-content: center;
        margin: auto;
        margin-left: -2%;
        height: 340px;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
        border: 3px solid #ffffff00;
        border-radius: 6px;
        box-shadow: 
        -3px -3px 6px $neoSdwLgt1,
        3px 3px 6px $neoSdwLgt2;
        font-size: 1.5rem;
        img{
            width: 200px;
            height: 200px;
            border-radius: 25px;
            border: 2px solid #2d2d2d20;
        }
    }
    &__card{
        grid-column-start: 1;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        border: 3px solid $colorLight;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        cursor: pointer;
        background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(244,205,255,1) 0%, rgba(179,255,209,1) 100%);
        padding: 5px;
        box-shadow: 
        -3px -3px 5px $neoSdwLgt1,
        3px 3px 5px $neoSdwLgt2;
        img{
            width: 50px;
            filter: grayscale(100%);
            border-radius: 50%;
            transition: 0.4s;
        }
        &:hover img{
            opacity: 1;
            filter: grayscale(0%);
        }
        h3, p{
            display: none;
        }
    }
}

.load{
    width: 150px;
    height: 30px;
    box-shadow: 
    -2px -2px 4px $neoSdwLgt1,
    2px 2px 4px $neoSdwLgt2;
    position: relative; 
    overflow: hidden;
    border: 3px solid $colorLight;
    border-radius: 5px;
    h4{
        text-align: center;
    }
    &__blank{
        width: 25%;
        height: 100%;
        opacity:0.7;
        background-color: #ffffff;
        position: absolute;
        left: -25%;
        border: 4px solid #ffffff;
        border-radius: 4px;
        animation: loading 1.2s ease-in infinite;
        &:nth-child(2) {
            animation-delay: .6s;
        }
    }
}
@keyframes switchEnd{
    0%{
        width: 105%;
        top:50%;
        border-radius: 0;
    }
    47%{
        height: 105%;
        top:-2.5%;
    }
    53%{
        height: 105%;
        top:-2.5%;
    }
    100%{
        width: 105%;
        top:50%;
        border-radius: 0;
    }
}
@keyframes switchRot{
    0%{
        top:50%;
        width: 0%;
    }
    50%{
        top:0%;
        width: 100%;
        height: 100%;
    }
    100%{
        top:50%;
        width: 0%;
        transform: rotate(405deg);
    }
}
@keyframes loading {
    100% {
        left: 100%;
    }
}

.boxDarkBorder{
    background-color: $colorDark !important;
    color:$colorLight !important;
    box-shadow: 
    -2px -2px 4px $neoSdwDrk1,
    2px 2px 4px $neoSdwDrk2,
    inset -2px -2px 4px $neoSdwDrk1,
    inset 2px 2px 4px $neoSdwDrk2 !important;
    
}
