.dark-theme {
  background-color: #2d2d2d;
}

.boxSdwDark {
  box-shadow: -2px -2px 4px rgba(170, 170, 170, 0.1843137255), 2px 2px 4px rgba(0, 0, 0, 0.6);
}

html {
  font-size: 62.5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #e7e7e7;
}

.main {
  width: 80%;
  min-height: 100vh;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cep {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 440px;
  min-width: 280px;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8666666667), 2px 2px 4px rgba(102, 102, 102, 0.4666666667);
  padding: 18px;
  border-radius: 8px;
  font-size: 1.3rem;
}
.cep input {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  padding: 8px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  margin: 4% 0px;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8666666667), 2px 2px 4px rgba(102, 102, 102, 0.4666666667), inset -2px -2px 4px rgba(255, 255, 255, 0.8666666667), inset 2px 2px 4px rgba(102, 102, 102, 0.4666666667);
}
.cep__result {
  padding: 12px;
  height: 35vh;
  width: 100%;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.8666666667), inset 2px 2px 4px rgba(102, 102, 102, 0.4666666667);
}
.cep__result p {
  font-size: 1.3rem;
}

.noClick {
  pointer-events: none;
}

.perfil {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 60px);
  gap: 10px;
}
.perfil__disable {
  position: absolute;
  width: 100%;
  height: 100%;
}
.perfil__window {
  width: 0%;
  height: 0%;
  position: absolute;
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(244, 205, 255) 0%, rgb(179, 255, 209) 100%);
  z-index: 1;
}
.perfil__window:nth-child(2) {
  left: 35%;
  top: 2%;
  border-radius: 10px;
  width: 30%;
  height: 20px;
}
.perfil__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 5%;
  gap: 15px;
  width: 300px;
  margin-top: 5%;
}
.perfil__info:ntt-child(1) {
  pointer-events: none;
}
.perfil__info img {
  margin: auto;
}
.perfil__destack {
  overflow: hidden;
  position: relative;
  justify-content: center;
  margin: auto;
  margin-left: -2%;
  height: 340px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 6px;
  box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.8666666667), 3px 3px 6px rgba(102, 102, 102, 0.4666666667);
  font-size: 1.5rem;
}
.perfil__destack img {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  border: 2px solid rgba(45, 45, 45, 0.1254901961);
}
.perfil__card {
  grid-column-start: 1;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(244, 205, 255) 0%, rgb(179, 255, 209) 100%);
  padding: 5px;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.8666666667), 3px 3px 5px rgba(102, 102, 102, 0.4666666667);
}
.perfil__card img {
  width: 50px;
  filter: grayscale(100%);
  border-radius: 50%;
  transition: 0.4s;
}
.perfil__card:hover img {
  opacity: 1;
  filter: grayscale(0%);
}
.perfil__card h3, .perfil__card p {
  display: none;
}

.load {
  width: 150px;
  height: 30px;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8666666667), 2px 2px 4px rgba(102, 102, 102, 0.4666666667);
  position: relative;
  overflow: hidden;
  border: 3px solid #e7e7e7;
  border-radius: 5px;
}
.load h4 {
  text-align: center;
}
.load__blank {
  width: 25%;
  height: 100%;
  opacity: 0.7;
  background-color: #ffffff;
  position: absolute;
  left: -25%;
  border: 4px solid #ffffff;
  border-radius: 4px;
  animation: loading 1.2s ease-in infinite;
}
.load__blank:nth-child(2) {
  animation-delay: 0.6s;
}

@keyframes switchEnd { /*
0%{
    width: 105%;
    top:50%;
    border-radius: 0;
}
47%{
    height: 105%;
    top:-2.5%;
}
53%{
    height: 105%;
    top:-2.5%;
}
100%{
    width: 105%;
    top:50%;
    border-radius: 0;
}*/
  12% {
    left: 0;
    width: 100%;
    border-radius: 0;
  }
  26% {
    left: 0;
    width: 100%;
    border-radius: 0;
    height: 20px;
  }
  50% {
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
  }
  75% {
    left: 0;
    height: 20px;
    width: 100%;
  }
}
@keyframes switchRot {
  0% {
    border-radius: 50%;
    opacity: 1;
    top: 50%;
  }
  50% {
    border-radius: 50%;
    opacity: 1;
    top: 0%;
    width: 100%;
    height: 100%;
  }
  100% {
    border-radius: 50%;
    opacity: 1;
    top: 50%;
    transform: rotate(405deg);
  }
}
@keyframes loading {
  100% {
    left: 100%;
  }
}
.boxDarkBorder {
  background-color: #2d2d2d !important;
  color: #e7e7e7 !important;
  box-shadow: -2px -2px 4px rgba(170, 170, 170, 0.1843137255), 2px 2px 4px rgba(0, 0, 0, 0.6), inset -2px -2px 4px rgba(170, 170, 170, 0.1843137255), inset 2px 2px 4px rgba(0, 0, 0, 0.6) !important;
}

/*# sourceMappingURL=style.css.map */
