


$bold: 2px;
$color-font: #f2f2f2;
$color-bg-default: #304D63;
$color-black: #2f2f2f;
$font-default: logoplexi, Helvetica,serif;
$font-bold: logoplexi-bold, Helvetica,serif;
$font-size-default: 1.6rem;
$orange: #ed8975;
$light-blue: #b2e7e8;
$turquoise: #8fb944;
$semi-bold: 1px;
$yellow: #f2d096;

@import 'vitrine';
@import 'fonts';

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    background-color: $color-bg-default;
    font-family: $font-default;
    letter-spacing: 2px;
    box-sizing: border-box;
    color:$color-font
}



h1 {
    -webkit-text-stroke-width: 1px;
    letter-spacing: 3px;  
    color: $orange;
    text-align: center;
    margin-top: 4rem;
    font-size: 4rem;
}

h2 {
    
    margin-top: 4rem;
    text-align: center;
}

header,section,footer{
    display: block;
    float:left;
    width: 100%;
}
.container {   
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 90vw;
    overflow: hidden;
    border-radius: .5rem;
  
}
#sobre{
    
    color: $color-black;
    .container{
        background-color: #f2f2f2;
    }
}


