
header .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;

    .nav{
        
        &__menu{
            font-family: var(--font);
            display: flex;
            width: 50%;
            max-width: 600px;
            gap: 80px;
            &__itens{
                list-style: none;
                font-size: 14px;
                line-height: 17px;
                a{
                    text-decoration: none;
                    color: #000;
                }
            }    
        }
    }
}