#location .container{
    position: relative;
    .ballDec{
        position: absolute;
        left: -202px;
        top: -75px;
        width: 673px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--color-blue);
        opacity: .2;
        z-index: -1;
    }
    .loc{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;
        &__title{
            text-align: center;
            font-size: 48px;
            line-height: 58px;
            font-weight: 700;
        }
        &__desc{
            font-size: 36px;
            line-height: 43px;
            text-align: center;            
        }
        &__maps{
            margin-top: 30px;
            box-shadow: 0px 0px 10px 3px var(--color-gray);
            background-color: var(--bg-color);
            border-radius: 10px;
            overflow: hidden;
            width: 975px;
            height: 450px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &__wait{
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                justify-content: center;
                &__title{
                    color: var(--color);
                    text-align: center;
                    font-size: 20px;
                }
                &__permission{
                    position: relative;
                    overflow: hidden;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 15px 30px;
                    cursor: pointer;
                    background: #fff0;
                    border:1px solid var(--color-blue);
                    color: var(--color-blue);
                    transition: all .2s;
                    span{
                        z-index: 0;
                        top: 0;
                        left: -3%;
                        position: absolute;
                        width: 10px;
                        height: 100%;
                        background-color: var(--color-blue);
                        transform: skew(-45deg);
                        transition: .6s;
                        opacity: .2;
                        &:nth-child(1){
                            left: 100%;
                        }
                    }
                    &:hover{
                        padding: 18px 33px;
                        font-size: 20px;
                        
                        span{
                            opacity: 1;
                            left: 93.1%;
                            transform: skew(-15deg);
                            &:nth-child(1){
                                transform: skew(15deg);
                                left: 3%;
                            }
                        } 
                    } 
                    
                }
            }
            iframe{
                border-radius: 10px;
                overflow: hidden;
                background-color: var(--color-gray);
                display: none;
            }
        }
        
        &__linedec{
            width: 315px;
            height: 3px;
            margin: 40px;
            background-color: #000;
        }
    }
    
}