#location .container{
    position: relative;
    .ballDec{
        position: absolute;
        left: -202px;
        top: -75px;
        width: 673px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--color-blue);
        opacity: .2;
        z-index: -1;
    }
    .loc{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;
        &__title{
            text-align: center;
            font-size: 48px;
            line-height: 58px;
            font-weight: 700;
        }
        &__desc{
            font-size: 36px;
            line-height: 43px;
            text-align: center;            
        }
        &__maps{
            margin-top: 30px;
            box-shadow: 0px 0px 10px 3px var(--color-gray);
            background-color: var(--bg-color);
            width: 975px;
            height: 450px;
            display: flex;
            align-items: center;
            justify-content: center;
            &__title{
                color: var(--color);
                text-align: center;
                font-size: 20px;
            }
            iframe{
                background-color: var(--color-gray);
                display: none;
            }
        }

        &__linedec{
            width: 315px;
            height: 3px;
            margin: 40px;
            background-color: #000;
        }
    }

}