#como-funciona {
    background: $font-color-primary;
}
.steps {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
        

    &__item {
        min-height: 200px;
        padding-top: 40px;
        background-image: linear-gradient(0deg ,$color-secondary, $color-secondary);
        background-size: 7.5% 10%;
        background-repeat: no-repeat;
        background-position:-5% -5%;
        margin:1rem;
        width: calc(80% / 5 - 1rem);
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        transition: background-size 200ms ease-in;
        
        &:hover {
            background-size: 100% 10%;
        }
        @media (max-width: 1199px){            
            width: calc(90%/3);
            margin: 10px auto;
        }

        @media (max-width: 767px) {
            display: block;
            width: calc(85%/2);
            max-width: 400px;
        }
        @media (max-width: 499px) {
            display: block;
            width: 80%;
            max-width: 400px;
        }

        span {
            color: $color-secondary;
        }
        
    }
    

}