.cars {    
    height: auto;

    h2 {
        color: $color-03;
    }
    li {
        color: $color-04;
    }

    @media (max-width: 768px) {
        padding-right: 8%;
        a{
            margin: 0px;
        } 
        img{
            height: auto;
        }

    }
    
}