    
    .modal {
        top:0;
        margin:auto;
        width:100vw;
        height: 100vh;
        background-color: #44444499;
        display: none;
        align-items: center;
        justify-content: center;
        visibility: none;
        opacity: 0;

        &:target{
            position: fixed;
            visibility: visible;
            opacity: 1;
            display: flex;
        }

        &__body{
            width: 95vh;
            max-width: 860px;
            background-color: $color-01;
            color: $color-04;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            overflow: hidden;
            padding-bottom: 1.5%;

            

            &__title{
                font-size: 4rem;
                text-align: center;
            }

            &__text{
                width: 90%;
                letter-spacing: 2px;
                color: $color-04;
                text-align: justify;
                line-height: 2.1rem;

            }
            &__image{
                object-fit: cover;
                width: 87%;
                margin: 3% 0;
                &--inverted{
                    transform: scaleX(-1);
                }
                
                
            }
            &__close{
                text-decoration: none;
                color: $color-04;
                align-self: flex-end;
                font-size: 6rem;
                height: 3rem;
                margin-right: 1.8%;
            }

            @media (max-width:1199px){
                margin-top: -4%;
                max-width: 740px;
                padding: 1% 0%;
                &__image{
                    width: 90%;
                    max-height:320px;
                    min-height: 150px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    img{
                        margin-top: -50px;
                    }
                     
                    &:hover img{
                        scale: 1.3;

                    }
                                        
                }
                
            }
            @media(max-width:1024px){
                max-height: 92vh;
            
                &__title{
                    font-size: 2.8rem;
                }
                

            }
            @media(max-width:992px){
                width: 100vh;
            
                &__title{
                    font-size: 2.5rem;
                }
                &__text{
                    width: 90%;
                    font-size: 1.6rem;
                }
                &__close{
                    font-size: 5rem;
                    margin-right: 3%;
                }

            }

            @media(max-width:450px){
                width: 96%;
                padding: 1.5%;
                padding-bottom: 3%;
                padding-top: 0;
                &__title{
                    font-size: 2rem;
                }
                &__text{
                    font-size: 1.1rem;
                }
                &__image{
                    width: 90%;
                }
            }  
        }
    }