    *{
        box-sizing: border-box;
    }

    .modal {
        top:0;
        margin:auto;
        width:100vw;
        height: 100vh;
        background-color: #44444499;
        display: none;
        align-items: center;
        justify-content: center;
        visibility: none;
        opacity: 0;

        &:target{
            position: fixed;
            visibility: visible;
            opacity: 1;
            display: flex;
        }

        &__body{
            width: 50%;
            background-color: $color-01;
            color: $color-04;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            overflow: hidden;
            padding-bottom: 1.5%;

            

            &__title{
                font-size: 4rem;
                text-align: center;
                margin-top: -2.5%;
            }

            &__text{
                width: 87%;
                letter-spacing: 2px;
                color: $color-04;
                text-align: justify;
                line-height: 2.1rem;

            }
            &__image{
                object-fit: cover;
                width: 87%;
                margin: 3% 0;
                
            }
            &__close{
                text-decoration: none;
                color: $color-04;
                align-self: flex-end;
                font-size: 6rem;
                margin-bottom: -2rem;
                margin-right: 1.8%;
            }

            @media (max-width:1199px){
                &__body{
                width: 98%; 
                }
                
            }
            @media(max-width:1024px){
                width: 95%;
                margin: auto;
            
                &__title{
                    font-size: 2.8rem;
                }
                &__image{
                    width: 58%;
                    
                }

            }
            @media(max-width:992px){
                width: 90%;
                margin: auto;
            
                &__title{
                    font-size: 2.5rem;
                }
                &__image{
                    width: 90%;
                }
                &__text{
                    width: 90%;
                    font-size: 1.6rem;
                }
                &__close{
                    font-size: 5rem;
                    margin-right: 3%;
                }

            }

            @media(max-width:450px){
                width: 96%;
                padding-bottom: 3%;
                &__title{
                    font-size: 2rem;
                    margin-top: -12%;
                }
                &__text{
                    font-size: 1.1rem;
                }
                &__close{
                    margin-bottom: 1%;
                    margin-top: 0;
                }
            }  
        }
    }