$align: left;
$bg-color: #d4d4d4;
$color-01: #2d2d2d;
$color-02: #9f9f9f;
$color-03: rgb(252, 113, 0);
$color-04: #f2f2f2;
$color-default: #444;
$color-hover-a: #222;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 2rem;

