@font-face {
    font-family: 'logoplexi';
    src: url('../assets/fonts/logoplexi-regular-webfont.woff') format('woff'),
         url('../assets/fonts/logoplexi-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/Logoplexi-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
