footer {
    p {
        color: $font-color-primary;
        font-size: $font-size-default;
        a {
            color: $color-secondary;
            text-decoration: none;
            -webkit-text-stroke-width: 1px;
            img{
                width: 13px;
                margin-bottom: -2px;
            }
            &:hover{
                color: $yellow;
            }
        }
    }
    @media(max-width:499px){
        p{
            font-size: 1.3rem;
        }
    }
}