footer {
    p {
        color: $font-color-primary;
        font-size: $font-size-default;
        a {
            color: $color-secondary;
            text-decoration: none;
            -webkit-text-stroke-width: 1px;
            &:hover{
                color: $yellow;
            }
        }
    }
}