
.nav {
    display: flex;
    justify-content: space-between;
    width: 380px;
    align-items: center;

    &__item {
        color: $font-color-primary;
        font-size: $font-size-nav;
        text-decoration: none;
        position: relative;
        transition: transform 300ms ease-out;

        &:hover {
            transform: translate(0px, -5px);
        }
    }
}