#como-funciona {
    background: $font-color-primary;
}
.steps {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    @media (max-width: 1199px){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
    }
    

    &__item {
        min-height: 200px;
        padding-top: 40px;
        background-image: linear-gradient(0deg ,$color-secondary, $color-secondary);
        background-size: 7.5% 10%;
        background-repeat: no-repeat;
        background-position:-5% -5%;
        margin:1rem;
        width: calc(80% / 5 - 1rem);
        text-align: center;
        transition: background-size 200ms ease-in,background-position 200ms ease-in;
        &:hover {
            background-size: 100% 10%;
        }
        @media (max-width: 1199px){
            width: 95%;
        }

        @media (max-width: 767px) {
            display: block;
            width: 100%;
        }
        span {
            color: $color-secondary;
        }
        
    }

}